$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.line {
  fill: none;
  stroke: #27ae60;
  stroke-width: 3px;
}

.bar {
  fill: #27ae60;
}

.bar:hover {
  fill: #7f8c8d;
}

